#daw-checkout-map-container {
    position: relative;
}

.daw-map-container {
    height: 500px;
    width: 100%;
    margin: 20px 0;
    padding: 0;
    position: relative;
}

.daw-map-container #daw-map {
    height: 100%;
    width: 100%
}

#daw-checkout-map-container #daw-map-overlay {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    transition: all .3s ease-in-out;
    z-index: 10;
    pointer-events: none;
    user-select: none;
}

#daw-checkout-map-container.loading #daw-map-overlay {
    opacity: .6;
    z-index: 10;
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg)
    }
}

#daw-checkout-map-container.loading {
    pointer-events: none;
}

#daw-checkout-map-container.loading #daw-map-loader {
    height: 1em;
    width: 1em;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -.5em;
    margin-top: -.5em;
    -webkit-animation: spin 1s ease-in-out infinite;
    animation: spin 1s ease-in-out infinite;
    background: url(../assets/loader.svg) center center;
    background-size: cover;
    line-height: 1;
    text-align: center;
    font-size: 2em;
    z-index: 10;
}

/* #update-position{
    background-color: #009185;
    color: #fff;
    padding: 5px 10px;
    border: 1px solid #005f57;
    transition: all .3s ease-in-out;
    width: 150px;
    cursor: pointer;
    display: flex;
    justify-content:center;
}
#update-position:hover{
    background-color: #00b3a4;
} */

/* CHECKOUT NOTICE */

#daw-checkout-map-container #daw-checkout-notice {
    box-sizing: content-box;
    position: relative;
    border-radius: 5px;
    padding: 10px 10px 10px 24px;
    min-height: auto;
    transition: all .3s ease-in-out;
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin: 20px 0;
}

#daw-checkout-map-container #daw-checkout-notice::before {
    content: '';
    display: block;
    border-radius: 0;
    width: 30px;
    min-width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ffffffaa;
    background-position-x: 0px;
    background-position-y: 0px;
}

#daw-checkout-map-container #daw-checkout-notice p {
    margin: 0;
    color: rgba(0, 0, 0, .92);
    padding: 0;
}

#daw-checkout-map-container #daw-checkout-notice.default p {
    display: none;
}

#daw-checkout-map-container #daw-checkout-notice.default:before {
    content: none;
}

/* warning part */

#daw-checkout-map-container #daw-checkout-notice.warning p:not(.warning) {
    display: none;
}

#daw-checkout-map-container #daw-checkout-notice.warning {
    background: #fdefe1;
}

#daw-checkout-map-container #daw-checkout-notice.warning::before {
    background-image: url(../assets/warning.svg);
}

/* error part */

#daw-checkout-map-container #daw-checkout-notice.error p:not(.error) {
    display: none;
}

#daw-checkout-map-container #daw-checkout-notice.error {
    background: #f9d2d8;
}

#daw-checkout-map-container #daw-checkout-notice.error::before {
    background-image: url(../assets/error.svg);
}

/* valid part */

#daw-checkout-map-container #daw-checkout-notice.valid p:not(.valid) {
    display: none;
}

#daw-checkout-map-container #daw-checkout-notice.valid {
    background: rgb(222, 255, 208);
}

#daw-checkout-map-container #daw-checkout-notice.valid::before {
    background-image: url(../assets/valid.svg);
}

/* DELIVERY TIME NOTICE */

#daw-checkout-map-container #daw-delivery-time {
    padding: 1rem 2rem;
    background: #eee;
    color: #28303d;
    margin: 15px 0;
}

#daw-checkout-map-container #daw-delivery-time p {
    color: rgba(0, 0, 0, .92);
    padding: 0;
    text-decoration: underline;
    margin: 0;
}